header {
    background-color: #ebe5d7d9;
    width: 600px;
    height: 50px;
    text-align: center;
}

footer {
    background-color: #ebe5d7d9;
    width: 600px;
    height: 50px;
    text-align: center;
}

table {
    width: 600px;
    text-align: center;
}

#A1 {
    background-color: #D3D3D3;
    width: 150px;
}

#A2 {
    background-color: #B2BEB5;
    width: 150px;
}

#A3 {
    background-color: #C0C0C0;
    width: 150px;
}

#A4 {
    background-color: #A9A9A9;
    width: 150px;
}

#B1 {
    background-color: #FF5733;
}

#B2 {
    background-color: #DF4C2D;
}

#B3 {
    background-color: #BF4126;
}

#B4 {
    background-color: #9F3620;
}

#C1 {
    background-color: #2DC0DF;
}

#C2 {
    background-color: #27a8c3;
}

#C3 {
    background-color: #2290a7;
}

#C4 {
    background-color: #1c788b;
}

#D1 {
    background-color: #8adc8e;
}

#D2 {
    background-color: #89cf8c;
}

#D3 {
    background-color: #87c18a;
}

#D4 {
    background-color: #86b488;
}